.custom-button {
  &,
  &::after {
    position: relative;
    display: inline-block;
    max-width: 180px;
    width: 100%;
    height: 55px;
    margin: 15px 0 15px;
    padding: 15px 5px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 5px 0 0 #faf001;
    outline: transparent;
    cursor: pointer;

    @mixin vp-768 {
      max-width: 240px;
      height: 75px;
      padding: 25px 10px;
      font-size: 20px;
    }
  }

  &:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    Content: 'Критическая неисправность';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }

  &:not(:disabled):hover::after,
  &:not(:disabled):focus::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }

  &:disabled,
  &--disabled {
    opacity: 0.8;
    animation: none;
    cursor: not-allowed;
    user-select: none;

    &::after {
      animation: none !important;
    }
  }

  &--hide {
    display: none;
  }
}