.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: $color-default-black;
  min-height: 100vh;
  overflow: hidden;

  &__col {
    flex-grow: 1;
    min-width: 300px;
    max-width: 580px;
    padding: 15px 10px;
  }

  &__board {
    flex-grow: 1;
  }

  &__info {
    position: relative;
    flex-grow: 1;
    min-width: 300px;
    max-width: 580px;
    min-height: 320px;
    margin-top: 25px;
    padding: 35px 25px 15px;
    background-color: $color-yellow;
    //clip-path: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
    background-image: url("../../img/bg-deco-desktop.svg");

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      right: 0;
      left: 0;
      display: block;
      height: 23px;
      background-image: url("../../img/top-line-yellow.svg");
      background-position: bottom;
      background-repeat: repeat-x;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 23px;
      background-image: url("../../img/bottom-line.svg");
      background-position: bottom;
      background-repeat: repeat-x;
    }
  }

  &__controls {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  &__control {
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
  }

  &__control--right {
    margin-top: 25px;
    margin-bottom: -5px;
    text-align: right;

    @mixin vp-768 {
      margin-top: 50px;
      margin-bottom: -20px;
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
  }

  &__headline {
    position: relative;
    min-height: 10px;
    max-width: calc(100% - 70px);
    width: 100%;

    &:not(:empty) {
      min-height: 35px;
      margin: 0 0 3.5rem;
      font-size: 14px;

      @mixin vp-768 {
        min-height: 55px;
        max-width: calc(100% - 90px);
        font-size: 24px;
      }
    }

    &:not(:empty):before {
      bottom: -1.5rem;
    }

    &:before {
      content: '';
      position: absolute;
      left: 2px;

      display: block;
      width: 100%;
      height: 10px;
      background-color: currentColor;
      clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
    }
  }

  &__free-points {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    border: 5px solid $color-default-black;

    @mixin vp-768 {
      width: 75px;
      height: 75px;
      font-size: 24px;
    }
  }
}